.column{
    background-color: #182e48;
    padding: 20px;
}
.column{
    h3{
        color: #ffffff;
        font-family: $sans;
        font-size: 35px;
        font-weight: 700;
        font-style: italic;
        line-height: 23px;
        letter-spacing: -0.7px;
        margin-bottom: 30px;
        padding-left: 30px;
    }
    h6{
        color: #ffffff;
        font-family: $sans;
        font-size: 17px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: -0.34px;
        padding-left: 30px;
    }   
}