@font-face {
    font-family: 'Museo Sans 500';
    src: url(../../fonts/museosans/MuseoSans-500.woff) format('woff2'),
        url(../../fonts/museosans/MuseoSans-500.woff2) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppinse';
    src: url('../../fonts/poppinslight/Poppins-Light.woff2') format('woff2'),
        url('../../fonts/poppinslight/Poppins-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}